body{
  font-family: Arial, sans-serif;
  background:#f5f5f5;
}

.container{
  width:600px;
  margin:40px auto;
  background:white;
  padding:20px;
  border-radius:10px;
}

h1{
  text-align:center;
}

.task-form{
  display:flex;
  gap:10px;
}

input{
  flex:1;
  padding:10px;
}

button{
  padding:10px 15px;
  cursor:pointer;
}

li{
  margin-top:10px;
}

.completed{
  text-decoration: line-through;
  color: gray;
}